.logo {
  display: flex;
  animation: shake 4s 6s both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.party,
.x {
  font-size: 3rem;
  animation: arrive 2s forwards, pulse 1s 3.5s infinite;
}

.party {
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* Glow effect */
}

.x {
  color: red;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7); /* Glow effect */
}

@keyframes arrive {
  from {
    transform: translateY(-50vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* subtle scale */
  }
}

span:nth-child(1) {
  animation-delay: 0s;
}
span:nth-child(2) {
  animation-delay: 0.5s;
}
span:nth-child(3) {
  animation-delay: 1s;
}
span:nth-child(4) {
  animation-delay: 1.5s;
}
span:nth-child(5) {
  animation-delay: 2s;
}
span:nth-child(6) {
  animation-delay: 2.5s;
}
